# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

app/lib/resource/i18n/translations.g.dart
data/.dart_tool/build/entrypoint/build.dart.dill
data/.dart_tool/build/fcd1995bc647fb959e82ea360c6c2c9a/asset_graph.json
domain/.dart_tool/build/entrypoint/build.dart.dill
domain/.dart_tool/build/fcd1995bc647fb959e82ea360c6c2c9a/asset_graph.json
